<section data-ng-controller="GraphsController" data-ng-init="chronograph()">
	<div id="chronograph_container">
		<div id="left_container" style="height: 955px;">
			<div id="top_controller" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); height: 40px;">
				<div id="play_button_container"></div>
				<div id="timeline_container"></div>
			</div>
			<div id="graph_container" style="display: block"></div>
		</div>
		<div id="right_container">
			<div id="side_controller"></div>
			<table id="menu_panel" width="100%">
				<tbody>
					<tr>
						<td id="edit_graph_button" data-ng-hide="isEditMode" data-ng-click="chronographEdit()" class=""><span>Edit</span></td>
						<td id="save_graph_button" data-ng-show="isEditMode" data-ng-click="chronographSave()"><span>Save</span></td>
						<td id="cancel_edit_button" data-ng-show="isEditMode" data-ng-click="chronographCancel()"><span>Cancel</span></td>
					</tr>
				</tbody>
			</table>
			<div id="main_menu" style="margin-top: 10px;">
				<form role="form">
					<div class="form-group">
						<label for="playSpeed">Play Speed</label>
						<div id="playSpeedSlider"></div>
						<input class="form-control" data-ng-model="playSpeed" style="text-align: right;" readonly="true" id="playSpeed" />
					</div>
				</form>
			</div>
			<div id="edit_menu" style="display: none;"></div>
		</div>
	</div>
</section>
